.cms-border-child-images {
	.cms-element-image,
	.cms-element-category-listing-item-image-wrapper {
		border: 4px solid #ffcb04;
	}
}

.cms-border-child-images-grey {
	.cms-element-image,
	.cms-element-category-listing-item-image-wrapper {
		border: 4px solid #4a545b;
	}
}

.cms-border {
	border: 4px solid #ffcb04;
}

.cms-border-grey {
	border: 4px solid #4a545b;
}