{% sw_extends '@Storefront/storefront/layout/header.html.twig' %}
   {% block base_header_inner %}
        <div id="top-bar-announcement" class="text-center py-2">
            {{ "topbar.announcement.text"|trans|raw }}
        </div>
        {{ parent() }}
    {% endblock %}

