.cms-element-product-listing{
	.product-box{
		.card-body{
			position: relative;
		}
		.product-name{
			&:after {
				content: '';
				width:100%;
				height: 215px;
				position: absolute;
				top: 8px;
				left: 8px;
			}
		}
	}
}