.cms-element-product-listing{
	.product-box{
		.card-body{
			position: relative;
		}
		.product-name{
			&:after {
				content: '';
				width:100%;
				height: 215px;
				position: absolute;
				top: 8px;
				left: 8px;
			}
		}
	}
}



.product-box{
	.product-action{
	.quantity-selector-group{
		.btn-outline-light{
			height: 40px;
			svg{
				top: 2px;
			}
		}
		 form input{
			height: 40px;
		 }
	}
	.btn-buy{
		margin-top: 0;
	}
	}

}