.cms-listing-row {
  .product-image-wrapper {
    width: 250px;
  }
  .price-blocked {
    max-width: 300px;
  }
  .product-info {
    justify-content: space-between;
  }
  .cms-listing-col.hde-row .card-body .product-name {
    @media (min-width: 768px) {
      padding-left: 0;
    }
  }
}
.cms-element-product-listing {
  .cms-listing-row {
    .product-box {
      .card-body {
        & > .col {
          flex: auto;
          width: 100%;
        }
        .product-details {
          font-size: 14px;
          ol,
          ul {
            font-size: inherit;
          }
        }
        .maxia-listing-price-table-heading {
          font-size: 12px;
        }
        .maxia-listing-price-table-quantity {
          font-size: 12px;
        }
        .maxia-listing-price-table-price {
          font-size: 14px;
        }
        .product-detail-delivery-information {
          font-size: 14px;
        }
        .maxia-listing-price-table-discount-cell {
          display: none;
        }
      }
    }
  }
}
.filter-panel-item .filter-panel-item-toggle {
  font-size: 14px;
}

.cms-listing-col.hde-row .card-body {
  .btn-light.btn-detail {
    min-width: 150px;
	margin: 16px 0;
	@include media-breakpoint-down(md){
		margin-bottom: 0;
	}
  }
}

@include media-breakpoint-only(lg) {
  .cms-listing-col.hde-row .card-body {
    flex-wrap: wrap;
  }
  .cms-element-product-listing
    .cms-listing-row
    .hde-row
    .product-box
    .card-body
    > .col {
    &:nth-child(2) {
      flex: 0 0 250px;
      max-width: 250px;
    }
    &:nth-child(3) {
      flex: 0 0 calc(100% - 250px);
      max-width: calc(100% - 250px);
    }
  }
  &.product-info {
    margin-top: 10px;
    flex: 0 0 100%;
    max-width: 200%;
  }
}
