.is-ctl-auth.is-act-loginpage,
.is-ctl-register.is-act-accountregisterpage {
	.alert {
		margin: 2rem 0;
		.alert-content-container {
			padding: 2rem;
		}
		&.alert-warning,
		&.alert-success {
			.alert-content-container {
				color: black;
			}
		}
	}
}

/*center login form (registration form hidden)*/
/* Ryusei: After 6.4 to 6.5 Update removed, but don't really know why it was there*/
// Marco: After updating live, we needed o add this to center the login form on loginpage
.is-act-loginpage .account-register>.row:first-child{
	    justify-content: center;
}

/* hide registration type texts and select option */
// Marco: After 6.5 update - this blocks also on the checkout page! added class to not include checkout page
.is-ctl-register:not(.is-act-checkoutregisterpage), .is-act-loginpage {
	.hde-registration-smallbusiness,
	.hde-registration-distributor,
	.register-card,
	.login-card
		/*.contact-type*/{
		display: none;
	}

	.col-lg-8:has(.register-card){
		display: none;
	}
}

#loginCollapse.collapse.show {
	display: block!important;
}
