.footer-column-content {
    .list-unstyled {
      display: none !important;
    }
}
// .footer-vat p:before {
//     content: '*';
// }

span#cookie-banner-link {
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}