{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_copyright %}
	<div class="footer-copyright">
		HDESakura Theme by <a href="https://hosono.de" target="_blank">HosonoDE</a>
	</div>
	<br>
	<div class="footer-custom">
		{{ "hde_footer_custom_html"|trans|raw }}
	</div>	


{% endblock %}

{% block layout_footer_service_menu %}{% endblock %}