{% sw_extends '@MoorlFoundation/plugin/moorl-foundation/component/product-buy-list/product-item.html.twig' %}

{% block product_buy_list_item_product_price %}
	
	{# {% if context.customer is null %} #}
		{# hide meta price if not logged in #}
	{# {% else %}	 #}

        {% if enablePrices %}
            <div itemprop="offers"
                 itemscope
                 itemtype="http://schema.org/Offer"
                 class="products-buy-form-list-item-info-price">
                <meta itemprop="priceCurrency"
                      content="{{ context.currency.translated.shortName }}"/>
                <meta itemprop="price" content="{{ price.unitPrice }}" />
                <link itemprop="availability" href="https://schema.org/InStock" />
                {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            </div>
        {% endif %}
        
	{# {% endif %} #}

{% endblock %}