{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{#{% block utilities_offcanvas_content %}#}
{#    <div class="tab-pane-container">#}
{#        <div class="product-detail-custom-tab-text">#}
{#            {{ custom_tab_content|raw }}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}