{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_request_group_info %}
    {# Hide customer group request alert (was gated by removed FEATURE_NEXT_15707 in 6.5/6.6) #}
{% endblock %}

{% block page_account_overview_welcome %}
    <div class="account-welcome">
        <h1>{{ "account.overviewTitle"|trans|sw_sanitize }}</h1>
        {% block page_account_overview_welcome_intro %}
           {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
